.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
header nav {
    position: absolute;
    top: 20px;
    right: 20px;
}
.Profile {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.Profile:hover {
    background-color: #ddd;
}
#title {
    font-size: 36px;
    margin: 0;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px #aaa;
}

#p1{
    font-size: 36px;
    text-align: center;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-weight: 1000;
    position: relative;
    text-shadow: 2px 2px 4px #aaa;
    bottom: 40px;
}
.main{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 245px;
}

#login{
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 30px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

#login:hover{
    background-color: #45a049;
}

#logIn_Modal, #signUp_Modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#login-header, #signUp-header{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}