.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
header nav {
    position: absolute;
    top: 20px;
    right: 20px;
}
.Profile {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.Profile:hover {
    background-color: #ddd;
}
#title {
    font-size: 36px;
    margin: 0;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px #aaa;
}

#p1{
    font-size: 36px;
    text-align: center;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-weight: 1000;
    position: relative;
    text-shadow: 2px 2px 4px #aaa;
    bottom: 40px;
}
.main{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 245px;
}

#main_login_btn{
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 30px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

#main_login_btn:hover{
    background-color: #45a049;
}

#logIn_Modal, #signUp_Modal{
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    width: auto;
    overflow:hidden;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.login_header, .signUp_header{
    text-align: center;
    background: #4CAF50;
    color: white;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 15px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login_header, .signUp_header h2{
    margin: 0;
    padding: 10px;
    font-weight: normal;
}

span{
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
span:hover{
    color: red;
}

#login_body, #signUp_body{
    margin: 5% auto 15% auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

#logIn_Modal button{
    font-size: 18px;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#signUp_section{
    margin-top: 50px;
    color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#signUp_section button{
    margin-left: 10px;
    background-color: #008CBA;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
}
#signUp_section button:hover{
    background-color: #007bb5;
}




label{
    font-size: 18px;
    color: rgb(50, 50, 50);
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#submit_login, #submit_signUp{
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
#submit_signUp:hover, #submit_login:hover{
    background-color: #45a049;
}


a{
    color: #008CBA;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    bottom: 4px;
}