<!DOCTYPE html>
<html>
    <head>
        <title>Task 8</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
       
        <header class="header">
        <nav><button class="Profile">👤</button></nav>
        <h1 id="title">Diagram Builder</h1>
    </header>
    <hr>
    <div class="main">
        <p id="p1">Log In to start Building 🔨</p>
        <button id="main_login_btn">Log In</button>
    </div>
    <hr>
    <footer class="footer">
        <p>© 2025 Diagram Builder. All rights reserved.</p>
    </footer>

    <div id="logIn_Modal" class="modal">
        <div class="modal-content">
            <div class="login_header">
                <span class="close" id="close_login">&times;</span>
                <h2>Log In</h2>
            </div>
            <div id="login_body">
                <label for="login_username">Username:</label><br>
                <input type="text" id="login_username" name="username" required><br>
                
                <label for="login_password">Password:</label><br>
                <input type="password" id="login_password" name="password" required><br><br>
                
                <div id="signUp_section">
                    <p>Don't have an account?</p>
                    <a href="#" id="go_to_signup_link">Sign Up</a>
                </div>
                <button id="submit_login">To Workshop</button>
            </div>
        </div>
    </div>

    <div id="signUp_Modal" class="modal">
        <div class="modal-content">
            <div class="signUp_header">
                <span class="close" id="close_signUp">&times;</span>
                <h2>Sign Up</h2>
            </div>
            <div id="signUp_body">
                <label for="signup_username">Username:</label><br>
                <input type="text" id="signup_username" required><br>
                
                <label for="signup_password">Password:</label><br>
                <input type="password" id="signup_password" required><br><br>
                
                <input type="checkbox" id="terms" required>
                <label for="terms"> I agree to the Terms</label><br>
                
                <label for="acceptCookies">Accept cookies?</label>
                <input type="checkbox" id="acceptCookies" required><br><br>
                
                <button id="submit_signup">Create Account</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>