<!--People create diagram here-->
<!DOCTYPE html>
<html>
    <head>
        <title>Workshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='workshop.css') }}">
    </head>
    <body>
        <header id = "workshop-header">
            <nav id ="workshop-nav">
                <button id = "go-back-home">To Home</button>
                <button class="Profile">👤</button>
                <button id = "settings-btn">⚙️</button>
            </nav>
            <h1 id ="workshop-title">This is Your Personal Diagram Workshop</h1>
            <h3 id ="workshop-subtitle">Set the parameters for your diagram below. Enjoy! :D</h3>
        </header>
        <hr>
        <div class="workshop-main">
            <div class = "chart-general">
                <h2> General Settings</h2>
                <div id = "chart-type" >
                    <h3>Chart Type</h3>
                    <select id="chart-select">
                        <option value="bar chart">Bar Chart</option>
                        <option value="pie chart">Pie Chart</option>
                    </select>
                </div>
                <div id = "chart-title-div">
                    <h3>Chart Title</h3>
                    <input type="text" id="chart-title" placeholder="Chart Title">
                </div>
                
            </div>
            <hr>
            <div id = "chart-data">
                <div id="data-table">
                    <h2> Chart Data </h2>
                    <table>            
                    <tr id = "header-row">
                        <th>Name</th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                    </tr>
                    <tr id = "footer-row">
                        <th>Value</th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                        <th><input type="text"></th>
                    </tr>
                </table>
                </div>
                
                <nav>
                    <button id="add-column-btn">Add Column</button>
                    <button id="remove-column-btn">Remove Column</button>
                </nav>
                
            </div>
            <hr>
            <button id="builder">Build!</button>
        </div>
        
        <div class = "XTRAS">
            <div id = "chart-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1 id = "chart-title-modal"></h1>
                    <canvas id="chartCanvas"></canvas>
                    <div class = "color-legend"></div>
                </div>
            </div>
        </div>

        <script src ="{{ url_for('static', filename='workshop.js') }}"></script>
    </body>
</html>